.footer-container{
    width: 100%;
    background-color: #2f3d48;
    display: flex;
    justify-content: space-between;
}
.footer-left, .all-footer-icons{
    display: flex;
    gap: 30px;
    margin: 30px 30px 0px;
}
.footer-logo{
    font-family: 'Yesteryear', cursive;
    font-size: 25px;
    color: #A2F2DF;
    border-right: 3px solid #A2F2DF;
    padding-right: 10px
}
.all-footer-links{
    display: flex;
    gap: 35px;
    margin: 5px 5px 15px;
}
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.footer-link{
    text-decoration: none;
    font-family: 'Itim', cursive;
    color: #A2F2DF;
}
.footer-copyright{
    color: #676667;
    font-family: 'Itim', cursive;
}
.footer-icon{
    width: 20px;
    height: 20px;
}


@media(max-width:780px){
    .footer-container{
        display: block;
    }
    .footer-left, .footer-right{
        margin: 15px auto 0px;
        padding: 10px;
    }
}
@media(max-width:600px){
    .footer-left, .footer-right{
        width: 80%;
    }
    .all-footer-links{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        margin: 5px;
    }
    .footer-left{
        margin: 10px 30px 0px;
    }
    .all-footer-icons{
        margin: 0px 5px 5px;
    }
}